<ion-header>
  <ion-toolbar>
    <ion-title>peliculas</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let pelicula of peliculas">
      <ion-card (click)="ver(pelicula.id)">
        <ion-card-header>
          <ion-card-subtitle>{{ pelicula.sinopsis }}</ion-card-subtitle>
          <ion-card-title>{{ pelicula.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="'data:image/JPEG;base64,'+pelicula.portada"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
