<ion-menu side="start" menuId="first" contentId="principal">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
     
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let i of componentes | async">
        <ion-item  [routerLink]="i.redirectTo">
          <ion-icon slot="start" [name]="i.icon"></ion-icon>
          <ion-label>{{ i.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>